* {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

html {
    overflow-x: hidden;
}

:root {
    --var-blue: #4557dc;
    --var-purple: #834fed;
}


/* HEADER - NAVBAR */
header {
    position: fixed;
    width: 100%;
    transition: all 0.4s ease;
    z-index: 2;
}

.nav-item {
    margin: 0px 25px 0px 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--var-blue);
    display: block;
    transition: all 0.2s ease;
    transform: scaleX(0);
}

.nav-item:hover::after {
    transform: scaleX(-1);
}

.nav-item.active::after {
    transform: scaleX(-1);
}

.nav-link.active {
    color: var(--var-blue) !important;
}

.nav-link {
    color: #555 !important;
    font-size: 0.9rem;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: var(--var-blue) !important;
}

.navbar-toggler-icon {
    transition: all 0.2s ease;
}

header .navbar-toggler-icon:hover {
    transform: scale(1.1);
}

/* SECTION BANNER */
.banner-area {
    margin-top: 71px;
    height: 60vh;
}

.banner-area .banner-left {
    position: relative;
}

.banner-area .banner-left span {
    line-height: 3.5rem;
    z-index: 1;
}

.banner-area .banner-left .banner-left-bg {
    font-size: clamp(10rem, 20vw, 15rem);
    position: absolute;
    color: #e5e5e5;
    left: -50%;
    line-height: 150px;
    user-select: none;
}


/* MEDIA QUERY */
@media (max-width: 767px) {
    .nav-item::after {
        transform-origin: left;
        transform: scaleX(0);
    }

    .nav-item:hover::after {
        transform: scaleX(1);
    }

    .nav-item.active::after {
        transform: scaleX(1);
    }
}